html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom,#5ACBFF 72%, #565656 18%) fixed
}

#app {
	height: 100%;
	width: 100%;
}

ul
{
	list-style-type: none;
}

textarea {
	resize: none;
	border: none;
	outline: none;
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	transition-duration: 1s;
	height: 25px;
	color: #565656;
}

textarea:focus {
	transition-duration: .7s;
}

.edit-trans-enter {
	opacity: 0.01;
}

.edit-trans-enter.edit-trans-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

.edit-trans-leave {
	opacity: 1;
}

.edit-trans-leave.edit-trans-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in-out;
}

.calendar-trans-enter {
	opacity: 0.01;
}

.calendar-trans-enter.calendar-trans-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

.calendar-trans-leave {
	opacity: 1;
}

.calendar-trans-leave.calendar-trans-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in-out;
}


.todo-trans-enter {
	opacity: 0.01;
}

.todo-trans-enter.todo-trans-enter-active {
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}

.todo-trans-leave {
	opacity: 1;
}

.todo-trans-leave.todo-trans-leave-active {
	opacity: 0.01;
	transition: opacity 200ms ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #CCDDEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #CCDDEE;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #CCDDEE;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #CCDDEE;
}

.card-container {
	display: flex;
	white-space: nowrap;
	justify-content: center;
}
.card {
	box-shadow: 4px 8px 10px 0 #565656;
	transition: 0.3s;
	border-radius: 10px; /* 5px rounded corners */
	width: 350px;
	height: 350px;
	padding: 5px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card:hover {
	box-shadow: 4px 8px 16px 0 #565656;
}

.todo-count {
	color: white;
	padding: 2px 5px;
	border-radius: 20px;
	background: #f9f9f9;
	font-size: 12px;
}

.edits {
	display: flex;
	background: #FFBA77;
	border-radius: 25px;
	justify-content: center;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

