html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom,#5ACBFF 72%, #565656 18%) fixed
}

#app {
	height: 100%;
	width: 100%;
}

ul
{
	list-style-type: none;
}

textarea {
	resize: none;
	border: none;
	outline: none;
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: .5em .75em;
	transition-duration: 1s;
	color: #565656;
}

textarea:focus {
	transition-duration: .7s;
}

.edit-trans-enter {
	opacity: 0.01;
}

.edit-trans-enter.edit-trans-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

.edit-trans-leave {
	opacity: 1;
}

.edit-trans-leave.edit-trans-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in-out;
}

.calendar-trans-enter {
	opacity: 0.01;
}

.calendar-trans-enter.calendar-trans-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

.calendar-trans-leave {
	opacity: 1;
}

.calendar-trans-leave.calendar-trans-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in-out;
}


.todo-trans-enter {
	opacity: 0.01;
}

.todo-trans-enter.todo-trans-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

.todo-trans-leave {
	opacity: 1;
}

.todo-trans-leave.todo-trans-leave-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #565656;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #565656;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #565656;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #565656;
}

.card-container {
	display: flex;
	white-space: nowrap;
	justify-content: center;
}
.card {
	box-shadow: 4px 8px 10px 0 #565656;
	transition: 0.3s;
	border-radius: 10px; /* 5px rounded corners */
	width: 450px;
	height: 550px;
	padding: 5px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card:hover {
	box-shadow: 4px 8px 16px 0 #565656;
}

.todo-count {
	background: #565656;
	color: #f9f9f9;
	padding: 2px 5px;
	border-radius: 20px;
	font-size: 12px;
}

.edits {
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

*.unselectable {
	cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
    }  

