/* Pen-specific styles */
html, body {
    height: 100%;
}

#app {
    height: 100%;
}
.parent {
    display: flex;
    height: 100%;
}

body {
    color: #000;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 100%;
}

a {
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    color: inherit;
}

textarea {
    border: 0px none;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    background: transparent;
    border-bottom: 2px solid black;
    width: 300px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

ul
{
    list-style-type: none;
}

.add-todo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-parent {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h5{
    margin:0;
    padding:0;
}
.column {
    margin: 10px;
    flex: 1 1 0;
    flex-flow: row wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    justify-content: flex-start;
    flex: 0 1 5em;
}

.edit-column {
    display: flex;
    flex: 1 1 0;
    flex-flow: column wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.edit-buttons {
    justify-content: flex-start;
    flex: 0 1 5em;
}

.edit-column h5 {
    flex: 1 1 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.edit-list {
    display:flex;
}

.delete-task{ 
    height: 20px;
    width: 100px;
    }
